# requirements.txt

# В данном минимальном проекте musa не используются сторонние библиотеки.
# Если в будущем появятся зависимости, добавьте их сюда, например:
Flask==2.2.2
Flask-Cors==3.0.10
pytest==7.2.0
Werkzeug==2.2.2
